<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Career</title>
    <link href="/stylesheets/career-style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
</head>
<div id="mainHeader">
    <header id="header">
        <img src="/logo.png" alt="logo" id="logo">

        <nav>
            <ul id="navLinks">
                <li><a href="/">Home</a></li>
                <li><a href="/career" class="careerBtn">Career</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>

        <div id="newWindowBtn">
            <a id="cta" href="https://github.com/RyanLindman" target="_blank">
                <button title="Visit my Github">Github <span class="material-symbols-outlined">Open_In_New</span>
                </button>
            </a>
        </div>
    </header>
</div>
<div class="main-container">
    <div class="super-card">
        <div class="card-header">
            <h2>Career & Education</h2>
            <div class="progress-container">
                <div class="progress-bar" id="progressBarEdu"></div>
            </div>
        </div>

        <div class="school-text">
            <h4></h4>
            <p>
                25 årig nyfiken, driven och hårt arbetande student på jakt efter ett
                extrajobb hos ett företag som tar mig till nya utmaningar och
                erfarenheter. Jag är redo att såväl avlasta som utveckla er avdelning
                och jag är inte feg att komma med egna förslag och idéer. Med er tillit
                kommer jag bli en pålitlig resurs för er och företaget. Mitt mål är att
                tillsammans utvecklas med er, hjälpa er nå era mål och i mig själv med
                mina egna personliga mål.
            </p>
            <h4>ERFARENHETER</h4>
            <h5>VOLVO CARS, GÖTEBORG</h5>
            <h6 style="{font-weight: bold; font-size: 14px;}"> SEPTEMBER, 2017 - NUVARANDE</h6>
            <p>Min huvudsakliga arbetsuppgift har varit kvalitetskontroll på
                målerifabriken. 2019 blev jag förtroendevald av min avdelning att ta
                tjänst som fackligt skyddsombud. Sedan semestern år 2020 är jag
                studieledig på heltid.
            </p>
            <p>
            <h6> HUMLY, GÖTEBORG </h6>
            <p> MAJ, 2022 – NUVARANDE
                I min jakt på nya erfarenheter började jag jobba extra på Humlys
                vikariepool. Mest som en resurs kring sommarloven.
            </p>

            <h6>UTBILDNING</h6>

            <p>GÖTEBORGS UNIVERSITET, GÖTEBORG
                RETORIK, GRUNDKURS (30HP)
                AUGUSTI, 2021 – JANUARI, 2022
                Här utökade jag mina intressen med kunskaper för skrivande och tal
                med analytiska metoder och tänkande, både praktiskt och teoretiskt.
                SKRIVA, GRUNDKURS (30HP)
                JANUARI, 2022 – JUNI, 2022
                Studier i skrivande med fokus på kommunikation.
                JENSEN YRKESHÖGKOLA, GÖTEBORG
                CLOUDUTVECKLARE, AWS
                SEPTEMBER, 2022 – NUVARANDE (T.O.M. VT 2024)
                Tvåårig YH-utbildning i utveckling och hantering av mjukvara med
                fokus på Java, cloud computing, teknisk projektledning och även en del
                webbutveckling.</p>


        </div>


    </div>

</div>
<footer>
    <div>
        <a>Ryan Lindman</a>
        <br>
        <a href="/contact" id="footerLink">Contact</a>
    </div>
</footer>
<script>
</script>


<body>

</body>
</html>