<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link href="/stylesheets/contact-style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo+Play:wght@800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/88fac8d33f.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="mainHeader">
        <header id="header">
            <img src="/Skärmbild%202023-09-28%20185735.png" alt="logo" id="logo">
            <nav>
                <ul id="navLinks">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/career">Career</a></li>
                    <li><a href="/contact" class="contactBtn">Contact</a></li>
                </ul>
            </nav>

            <div id="newWindowBtn">
                <a id="cta" href="https://github.com/RyanLindman" target="_blank"><button title="Visit my Github">Github <span class="material-symbols-outlined">Open_In_New</span></button> </a>
            </div>
        </header>

    </div>
    <div class="h1-contact">
        <h1>Get in touch.</h1>
    </div>

    <div class="connect-container">
        <div class="linked-in">
            <i class="fa-brands fa-linkedin fa-xl"></i>
             <a href="https://www.linkedin.com/in/ryan-lindman-0bb377276/" target="_blank">LinkedIn</a>
        </div>
        <div class="mail">
            <i class="fa-solid fa-envelope fa-lg"></i>
            <a href="mailto:ryan.lindman@outlook.com">E-mail</a>
        </div>
        <div class="github">
            <i class="fa-brands fa-square-github fa-xl"></i>
            <a href="https://github.com/RyanLindman" target="_blank">GitHub</a>
        </div>



    </div>




    <footer>
        <div>
            <a>Ryan Lindman</a>
            <br>
            <a href="/contact" id="footerLink">Contact</a>
        </div>

        <a href="#header"  class="topText">
            <button class="arrowUpBtn" id="arrowBtn"
                    title="Go to Top">
                Top<i class="fas fa-arrow-up"></i>
            </button>
        </a>
    </footer>
    <script>
        let myButton = document.getElementById("arrowBtn");

        window.onscroll = function() {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                myButton.style.display = "flex";
            } else {
                myButton.style.display = "none";
            }
        }
    </script>
</body>
</html>