<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ryan Lindman - Portfolio</title>
    <link href="/style.css" rel="stylesheet">

</head>
<body>

            <header id="header">
                <img src="/aws-exam2023-logo.png" alt="My logo" id="logo">

                <nav>
                    <a href="/">Home</a>
                    <a href="/templates/contact.html">Github</a>
                    <a href="/templates/contact.html">Contact</a>
                </nav>
            </header>

            <h1>Ryan Lindman </h1>







</body>
</html>