<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ryan Lindman - Portfolio</title>
    <link href="/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>
<body>
        <div id="mainHeader">
            <header id="header">
                <img src="/logo2023-1.png" alt="logo" id="logo">

                <nav>
                    <ul id="navLinks">
                    <li><a href="/">Home</a></li>
                    <li><a href="/templates/contact.html">Career</a></li>
                    <li><a href="/templates/contact.html">Contact</a></li>
                    </ul>
                </nav>
                <div id="newWindowBtn">
                    <a id="cta" href="https://github.com/RyanLindman" target="_blank"> <button>Github  <span class="material-symbols-outlined">Open_In_New</span></button> </a>
                </div>
            </header>
        </div>

        <br>

        <div class="introArticle">
            <br>
            <article>
                <h2>Introduction</h2>
                <br>
                    <p>
                       Ryan Lindman is a passionate student who on his free time seek various challenges to become a better developer.
                        He is studying cloud development focused on AWS which covers a lot ranging from developing applications, cloud deployment, cloud management and monitoring.


                    </p>



            </article>
        </div>






    <div id="footer">
        <footer>
            <a>Ryan Lindman</a> <br>
            <a href="contact.html" id="footerLink">Contact</a>
        </footer>

    </div>


</body>
</html>